input[type='text'],
input[type='number'],
input[type='email'],
input[type='date'],
textarea {
  width: 100%;
  background-color: transparent;
  border: 1px solid var(--color-primary);
  outline: 0;
  padding: 0.5em;
  color: var(--color-secondary);
  border-radius: 0.7rem;
  resize: none;
  appearance: textfield;

  &:focus {
    outline: 1px solid var(--color-primary);
  }
}

.form {
  &__single {
    margin-bottom: 1em;
  }

  &__label {
    display: block;
    font-size: 1.2em;
    margin-bottom: 0.2em;
  }

  &__notice {
    display: block;
    font-size: 0.8em;
    margin-top: 0.3em;
  }
}
