{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "node": "current"
        },
        "modules": "commonjs" // Utilisation de CommonJS pour les modules
      }
    ]
  ]
}